{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Flexio Settings{% endblock %}

{% block main %}
  <div class="row aligner">
    <div class="col-md-5 aligner-item">
      <h2 class="centered-text md-margin-bottom">Settings</h2>

      <div class="list-group">
          <span class="list-group-item quarter-faded text-muted">
            Your username is
            <strong>{{ current_user.username }}</strong>
          </span>
        <a href="#"
           class="list-group-item">
          Change Profile Picture
        </a>
        <a href="{{ url_for('user.update_credentials') }}"
           class="list-group-item">
          Update email and password
        </a>
        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
      </div>
    </div>
    
    <!-- Modal for deletion -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you absolutely sure you want to do this? The action is irreversible!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% call f.form_tag('user.delete') %}
              <button type="submit" class="btn btn-danger">Delete</button>
            {% endcall %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
