{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Thanks for signing up{% endblock %}

{% block main %}
  <div class="row aligner">
    <div class="col-md-5">
      <h2 class="sm-margin-bottom">Welcome to Flexio!</h2>

      <p>
        Thanks for choosing us. Let's get you started.
      </p>

      <p class="small">
        For any questions or issues, feel free to contact us.
      </p>
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
      {% call f.form_tag('user.welcome') %}
        <legend>Pick a username</legend>
        <p class="small help-block sm-margin-bottom">
          You can only pick this once, choose carefully.
        </p>

        {% call f.form_group(form.username, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}
