{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}

{% block title %}Flexio{% endblock %}

{% block meta_description %}Welcome to the future of internal company communication.{% endblock %}

{% block main %}

    {% if current_user.is_authenticated %}
        <div class="flexio-home-sm">
            <img id="flexio-home-logo-sm" src="{{ url_for('static', filename='images/flexio-home.png') }}" alt="Flexio Logo">
            <p class="noselect">Smart. Simple. Flexible.</p>
        </div>
        {% for unit in blog_units.items %}
                <div class="card" >
                    <div class="card-body">
                    <h4><a class="card-title links-text" href="{{ url_for('units.blog_unit', blog_unit_id=unit.id) }}">{{ unit.title }}</a></h4>
                    <a href="{{ url_for('user.user_profile', username=unit.author.username) }}">Author: {{ unit.author.username }}</a>
                    <p class="text-muted">Published on: {{ unit.date.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p class="card-text">{{ unit.text[:100] }}...</p>
                    <a href="{{ url_for('units.blog_unit', blog_unit_id=unit.id) }}" class="btn-sm btn-primary">Read Blog Unit</a>
                    </div>
                </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            <ul class="pagination aligner">
            {% for page_num in blog_units.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if blog_units.page == page_num %}
                    <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('core.home', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% if blog_units.page != page_num %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('core.home', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    {% else %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000" data-wrap="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="flex-center">
                        <div class="flexio-home">
                            <img id="flexio-home-logo" src="{{ url_for('static', filename='images/flexio-home.png') }}" alt="Flexio Logo">
                            <p class="noselect">Smart. Simple. Flexible.</p>
                        </div>
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron">
                        <h1 class="display-4">Welcome to Flexio!</h1>
                        <p class="lead">Are you feeling like something is missing in your company's internal communication? 
                                        Is someone always late on important meetings because of not reading mails? Flexio
                                        can fix that, and much more. </p>
                        <hr class="my-4">
                        <p>Flexio is a company communication system, based on the idea that the email system is not the best 
                        solution for communication in companies.</p>
                        <a class="btn btn-primary btn-sm" href="{{ url_for('core.about') }}" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
