/* Generic styles */

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    font-family: Oswald;
    background-color: #fff;
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
}

footer {
    margin: auto auto 0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 100%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

/* Navbar styles */

.navbar {
    background: #fff;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar-light .navbar-nav {
    font-size: 1rem;
    color: #252525;
}

.navbar-light .navbar-nav .nav-link {
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
    border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #000;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-light .navbar-brand {
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    font-size: 20px;
    border: 0;
}

/* Navbar media queries */

@media (min-width: 768px) and (max-width: 991px) {
 
    .navbar-expand-sm .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }
 
    /* ... */
 
}
 
@media (max-width: 767px) {
 
    .navbar-light .navbar-toggler { border-color: #fff; }
    .navbar-light .navbar-toggler:focus { background: rgb(220, 220, 220); outline: 0; }
    .navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }
 
    /* ... */
 
}

/* Footer styles */

.footer-distributed {
    background-color: #fff;
    width: 100%;
    text-align: left;
    font-family: Oswald;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto auto 0 auto;
}

.footer-distributed .footer-left p {
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 14px;
    font-weight: 500;
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed p.footer-links a:hover {
    color: #000;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #252525;
    border-radius: 20px;
    font-size: 16px;
    color: #252525;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

.footer-distributed .footer-right a:hover {
    color: #000;
}

/* Footer responsive queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/* Icon and font styles */

#error-style {
    color: #af8b3c;
    text-align: center;
    font-size: 10rem;
    margin-top: 5%;
}

.flexio-home {
    color: #af8b3c;
    text-align: center;
    font-size: 3vmin;
    animation-name: opacity-soft;
    animation-duration: 5s;
}

.flex-center {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flexio-home-logo {
    display: block;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

@keyframes opacity-soft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#flexio-nav-logo {
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: inherit;
}

i {
    vertical-align: inherit;
}

.fa-fire, .fa-shield {
    color: #af8b3c;
}

.fa-times {
    color: #9d0000;
}

.fa-facebook, .fa-github, .fa-linkedin {
    color: #fff;
}

.links-text {
    color: #af8b3c;
}

.links-text:hover {
    color: #1e1f24;
}

.centered-text {
    text-align: center;
}

.primary-color {
    color: #af8b3c !important;
}

.secondary-color {
    color: rgba(0, 0, 0, 0.8);
}

/* Margin and padding
-------------------------------------------------- */

.lg-margin-bottom {
    margin-bottom: 60px;
}

.md-margin-bottom {
    margin-bottom: 40px;
}

.lg-margin-top {
    margin-top: 60px;
}

.md-margin-top {
    margin-top: 40px;
}

.sm-margin-top {
    margin-top: 20px;
}

/* Admin dashboard
-------------------------------------------------- */

#bulk_actions {
    display: none;
    padding-bottom: 8px;
}

#scope {
    margin-bottom: 0;
    width: 160px;
    height: 29px;
    font-weight: 400;
    font-size: 12px;
}

.sort:after {
    content: '\f0dc';
    font-family: FontAwesome;
    margin-left: 6px;
    color: #BBB;
}

.asc:after {
    content: '\f0dd';
    font-family: FontAwesome;
    margin-left: 6px;
    color: #444;
}

.desc:after {
    content: '\f0de';
    font-family: FontAwesome;
    margin-left: 6px;
    color: #444;
}


/* Bootstrap overrides */

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
 
    .jumbotron {
        margin-top: 0px;;
    }

}

@media (min-width: 992px) {

    .jumbotron {
        margin-top: 5vh;
    }
}
 
@media (max-width: 767px) {
 
    .jumbotron {
        margin-top: 0px;
    }

}

.btn-primary {
    background-color: #af8b3c;
    border: #af8b3c 1px solid;
}

.btn-primary:hover {
    background-color: #c49a41;
    border: #c49a41 1px solid;
}

.btn-default {
    color: #252525;
}

.btn-default:hover {
    color: #000;
}

.help-block {
    color: #9d0000;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(42, 43, 44, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(42, 43, 44, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(42, 43, 44, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(42, 43, 44, 0.8);
}

.btn:focus, .btn.focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(42, 43, 44, 0.8);
}

.list-group-item {
    color: #252525;
}

.list-group-item:hover {
    color: #000;
}

.dropdown-menu {
    border-color: transparent;
}

.progress-bar {
    background-color: #af8b3c;
}

.col-header a {
    color: #af8b3c;
}

.media-heading {
    color: rgb(41, 43, 56);
}

th:nth-child(3) a {
    padding-left: 1.5vmin;
}
