{% extends 'layouts/base.html' %}

{% block header %}
    <nav class="navbar navbar-light fixed-top navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('core.home') }}">
                <img id="flexio-nav-logo" src="{{ url_for('static', filename='images/flexio.png') }}" alt=""> Flexio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-item">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link scroll-link"
                        data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">
                        {% if current_user.username != None %}
                            <i class="fa fa-user-circle-o"></i> {{ current_user.username }}
                        {% else %}
                            <i class="fa fa-user-circle-o"></i> Account
                        {% endif %}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu nav-item">
                        {% if current_user.role == 'admin' %}
                        <li>
                            <a class="nav-link scroll-link" href="{{ url_for('admin.dashboard') }}">
                            <i class="fa fa-shield"></i> Admin: Dashboard</a></li>
                        <li>
                            <a class="nav-link scroll-link" href="{{ url_for('admin.users') }}">
                            <i class="fa fa-shield"></i> Admin: Users</a></li>
                        {% endif %}
                        {% if current_user.username != None %}
                        <li>
                            <a class="nav-link scroll-link" href="{{ url_for('user.user_profile', username=current_user.username) }}">
                            <i class="fa fa-wpforms"></i> {{ current_user.username }}</a></li>
                        {% endif %}
                        <li>
                            <a class="nav-link scroll-link" href="{{ url_for('user.settings') }}">
                                <i class="fa fa-cog"></i> Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="nav-link scroll-link" href="{{ url_for('user.logout') }}">
                                <i class="fa fa-sign-out"></i> Log out</a></li>
                    </ul>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="{{ url_for('user.login') }}">
                            <i class="fa fa-user-circle"></i> Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="{{ url_for('user.signup') }}">
                            <i class="fa fa-user-plus"></i> Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <div class="footer-right">
        <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.github.com" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="{{ url_for('core.home') }}">Home</a>
            ·
            <a href="#">Donate</a>
            ·
            <a href="{{ url_for('core.about') }}">About</a>
            ·
            <a href="{{ url_for('contact.index') }}">Contact</a>
            ·
            <a href="{{ url_for('core.privacy') }}">Privacy Policy</a>
            ·
            <a href="{{ url_for('core.terms') }}">Terms of Service</a>
        </p>
        <p class="text-muted noselect">Flexio &copy; 2018</p>
    </div>
{% endblock %}
